body {
    font-family: sans-serif;
}
footer {
    background-color:#98F23D ;
}
p{
    border: 4px solid;
}
.link-nav {
    border: 4px solid black;
}
.link-header {
    border: 4px solid black;
    background-color: yellow;
}
nav {
    padding: 10px;
}
img {
    border: 10px double  black;
}
main {
    background-color: #5CCDC9;
}

